        <table width="100%" style="max-width: 600px;border-collapse:collapse" align="center" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td><img src="https://dl.dropbox.com/s/yrkadro5tb6hfcf/newsletter_logo.png?dl=0" alt="" /></td>
                            <td align="right"><a href=""><font color="#ce3f21">Share on Facebook</font></a></td>
                        </tr>
                        <tr><td style="line-height: 10px;height:10px;"><!-- --></td></tr>
                    </table>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <tr>
                            <td>
                             <img ng-src="{{formInfo.imageUrl}}" alt="" style="display:block;max-width:100%">
                            </td>
                        </tr>
                    <tr><td><font size="5" color="black">{{ formInfo.title }}</font></td></tr>
                        <tr><td>
                            <p>{{ formInfo.description }}</p>
                        </td></tr>
                    </table>
                        <!-- data -->
                    <div ng-repeat="deal in deals">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                    <td style="width:124px;height:130px;"><span style="width:124px;height:130px;overflow:hidden;display:inline-block"><img src="{{deal.small_image}}" alt="{{deal.title}}" style="display:block;"></span></td>
                    <td valign="top"><span style="text-transform:capitalize;">&nbsp;&nbsp;<font color="#ce3f21">trending!</font> <font size="4"><b>{{deal.title}}</b></font></span><br /><span>&nbsp;&nbsp;<img src="https://dl.dropbox.com/s/we9ywjfhz4w2p85/yelp_review.png?dl=0" valign="top"> 1000 reviews</span><br /><span>&nbsp;&nbsp;{{deal.merchant_address}}</span><br /><span style="font-weight:bold;font-size:14px;">&nbsp;&nbsp;Price: ${{deal.new_price}}</span></td>
                    </tr>
                    </table>

                   <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr><td style="line-height:15px;height:15px;border-bottom:1px solid #d9d9d9;"><!-- --></td></tr>
                    <tr><td style="line-height:15px;height:15px;"><!-- --></td></tr>
                  </table>
                   </div>
                    <table>
                        <tr><td><img src="https://dl.dropbox.com/s/71n7cu0eat8dpvb/download_app.png?dl=0" alt="download the app on app store" style="max-width:100%;"/></td>
                    </tr>
                    </table>
                </td>


            </tr>

        </table>